<div class="ui one column doubling stackable grid container">
    
    <div class="column">
        <h1>
            {{vm.libro.nombre}} 
            <a class="ui button right floated" ui-sref="libreria">
                <i class="arrow circle left icon"></i>  Volver
            </a>
        </h1>  
        
        <indicador1 max="30"></indicador1>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                {{vm.libro.ano}}
                <div class="right floated meta">
                    <div class="ui label" ng-repeat="label in vm.libro.labels">{{label}}</div>
                </div>
            </div>
            <div class="content">
                
                <div class="ui labeled button right floated" tabindex="0">
                    <div class="ui red button" ng-click="vm.addLike()">
                        <i class="heart icon"></i> Likes
                    </div>
                    <a class="ui basic red left pointing label">
                        {{vm.libro.likes}}
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
